<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HW8 Posts</title>
</head>
<body>

<!-- form -->
    <h3>Create New Post</h3>
    <form action="/posts/create" method="post">
    <div>
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" required><br>
    </div>

    <div>
        <label for="description">Description:</label><br>
        <textarea id="description" name="description" required></textarea><br>
    </div> 

        <button type="submit">submit</button>
    </form>

{% if success_message %}
<div class="success-message">
    {{ success_message }}
</div>
{% endif %}

</body>
</html>